# A user defined name for this logpipe
name: Logpipe for Apache 2.2 error logs

# Tail all *.error.log files
input:
  type: files
  dir: /var/log/apache2
  glob: "*.error.log"

## Use the apache-combined preset
preset: apache-error

# add some more transformers
transformers:
  - anonymizeIp

# put everything to elasticsearch
output:
  type: elasticsearch
  port: 9200
